
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

div {
    width: 80%; /* Esto es opcional: ajusta el ancho del contenedor central si lo necesitas */
    text-align: center;
}

h1{
    color: aqua;
}

h2{
    color: aquamarine;
}

h3{
    color: aqua;
}